<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_WELCOME</string>
		</array>
	</dict>
	<key>2</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_YOURHOST</string>
		</array>
	</dict>
	<key>3</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_CREATED</string>
		</array>
	</dict>
	<key>4</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_MYINFO</string>
		</array>
	</dict>
	<key>5</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ISUPPORT</string>
			<string>RPL_BOUNCE</string>
			<string>RPL_PROTOCTL</string>
			<string>RPL_MAP</string>
		</array>
	</dict>
	<key>6</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_MAP</string>
			<string>RPL_MAPMORE</string>
		</array>
	</dict>
	<key>7</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_MAPEND</string>
		</array>
	</dict>
	<key>8</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_SNOMASK</string>
		</array>
	</dict>
	<key>9</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATMEMTOT</string>
		</array>
	</dict>
	<key>10</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_BOUNCE</string>
			<string>RPL_STATMEM</string>
		</array>
	</dict>
	<key>14</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_YOURCOOKIE</string>
		</array>
	</dict>
	<key>15</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_MAP</string>
		</array>
	</dict>
	<key>16</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_MAPMORE</string>
		</array>
	</dict>
	<key>17</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_MAPEND</string>
		</array>
	</dict>
	<key>42</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_YOURID</string>
		</array>
	</dict>
	<key>43</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_SAVENICK</string>
		</array>
	</dict>
	<key>50</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ATTEMPTINGJUNC</string>
		</array>
	</dict>
	<key>51</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ATTEMPTINGREROUTE</string>
		</array>
	</dict>
	<key>200</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TRACELINK</string>
		</array>
	</dict>
	<key>201</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TRACECONNECTING</string>
		</array>
	</dict>
	<key>202</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TRACEHANDSHAKE</string>
		</array>
	</dict>
	<key>203</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TRACEUNKNOWN</string>
		</array>
	</dict>
	<key>204</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TRACEOPERATOR</string>
		</array>
	</dict>
	<key>205</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TRACEUSER</string>
		</array>
	</dict>
	<key>206</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TRACESERVER</string>
		</array>
	</dict>
	<key>207</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TRACESERVICE</string>
		</array>
	</dict>
	<key>208</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TRACENEWTYPE</string>
		</array>
	</dict>
	<key>209</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TRACECLASS</string>
		</array>
	</dict>
	<key>210</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATS</string>
			<string>RPL_TRACERECONNECT</string>
		</array>
	</dict>
	<key>211</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSLINKINFO</string>
		</array>
	</dict>
	<key>212</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSCOMMANDS</string>
		</array>
	</dict>
	<key>213</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSCLINE</string>
		</array>
	</dict>
	<key>214</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSNLINE</string>
			<string>RPL_STATSOLDNLINE</string>
		</array>
	</dict>
	<key>215</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSILINE</string>
		</array>
	</dict>
	<key>216</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSKLINE</string>
		</array>
	</dict>
	<key>217</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSQLINE</string>
			<string>RPL_STATSPLINE</string>
		</array>
	</dict>
	<key>218</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSYLINE</string>
		</array>
	</dict>
	<key>219</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFSTATS</string>
		</array>
	</dict>
	<key>220</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSPLINE</string>
			<string>RPL_STATSBLINE</string>
		</array>
	</dict>
	<key>221</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_UMODEIS</string>
		</array>
	</dict>
	<key>222</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_MODLIST</string>
			<string>RPL_SQLINE_NICK</string>
			<string>RPL_STATSBLINE</string>
		</array>
	</dict>
	<key>223</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSGLINE</string>
			<string>RPL_STATSELINE</string>
		</array>
	</dict>
	<key>224</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSTLINE</string>
			<string>RPL_STATSFLINE</string>
		</array>
	</dict>
	<key>225</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSDLINE</string>
			<string>RPL_STATSZLINE</string>
		</array>
	</dict>
	<key>226</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSNLINE</string>
			<string>RPL_STATSCOUNT</string>
		</array>
	</dict>
	<key>227</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSVLINE</string>
			<string>RPL_STATSGLINE</string>
		</array>
	</dict>
	<key>228</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSQLINE</string>
		</array>
	</dict>
	<key>231</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_SERVICEINFO</string>
		</array>
	</dict>
	<key>232</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_RULES</string>
			<string>RPL_ENDOFSERVICES</string>
		</array>
	</dict>
	<key>233</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_SERVICE</string>
		</array>
	</dict>
	<key>234</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_SERVLIST</string>
		</array>
	</dict>
	<key>235</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_SERVLISTEND</string>
		</array>
	</dict>
	<key>236</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSVERBOSE</string>
		</array>
	</dict>
	<key>237</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSENGINE</string>
		</array>
	</dict>
	<key>238</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSFLINE</string>
		</array>
	</dict>
	<key>239</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSIAUTH</string>
		</array>
	</dict>
	<key>240</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSVLINE</string>
			<string>RPL_STATSXLINE</string>
		</array>
	</dict>
	<key>241</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSLLINE</string>
		</array>
	</dict>
	<key>242</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSUPTIME</string>
		</array>
	</dict>
	<key>243</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSOLINE</string>
		</array>
	</dict>
	<key>244</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSHLINE</string>
		</array>
	</dict>
	<key>245</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSSLINE</string>
		</array>
	</dict>
	<key>246</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSPING</string>
			<string>RPL_STATSTLINE</string>
			<string>RPL_STATSULINE</string>
		</array>
	</dict>
	<key>247</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSBLINE</string>
			<string>RPL_STATSXLINE</string>
			<string>RPL_STATSGLINE</string>
		</array>
	</dict>
	<key>248</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSDEFINE</string>
			<string>RPL_STATSULINE</string>
		</array>
	</dict>
	<key>249</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSULINE</string>
			<string>RPL_STATSDEBUG</string>
		</array>
	</dict>
	<key>250</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSDLINE</string>
			<string>RPL_STATSCONN</string>
		</array>
	</dict>
	<key>251</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_LUSERCLIENT</string>
		</array>
	</dict>
	<key>252</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_LUSEROP</string>
		</array>
	</dict>
	<key>253</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_LUSERUNKNOWN</string>
		</array>
	</dict>
	<key>254</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_LUSERCHANNELS</string>
		</array>
	</dict>
	<key>255</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_LUSERME</string>
		</array>
	</dict>
	<key>256</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ADMINME</string>
		</array>
	</dict>
	<key>257</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ADMINLOC1</string>
		</array>
	</dict>
	<key>258</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ADMINLOC2</string>
		</array>
	</dict>
	<key>259</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ADMINEMAIL</string>
		</array>
	</dict>
	<key>261</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TRACELOG</string>
		</array>
	</dict>
	<key>262</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TRACEPING</string>
			<string>RPL_TRACEEND</string>
		</array>
	</dict>
	<key>263</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TRYAGAIN</string>
		</array>
	</dict>
	<key>265</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_LOCALUSERS</string>
		</array>
	</dict>
	<key>266</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_GLOBALUSERS</string>
		</array>
	</dict>
	<key>267</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_START_NETSTAT</string>
		</array>
	</dict>
	<key>268</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_NETSTAT</string>
		</array>
	</dict>
	<key>269</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_END_NETSTAT</string>
		</array>
	</dict>
	<key>270</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_PRIVS</string>
		</array>
	</dict>
	<key>271</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_SILELIST</string>
		</array>
	</dict>
	<key>272</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFSILELIST</string>
		</array>
	</dict>
	<key>273</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_NOTIFY</string>
		</array>
	</dict>
	<key>274</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDNOTIFY</string>
			<string>RPL_STATSDELTA</string>
		</array>
	</dict>
	<key>275</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_STATSDLINE</string>
		</array>
	</dict>
	<key>276</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_VCHANEXIST</string>
		</array>
	</dict>
	<key>277</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_VCHANLIST</string>
		</array>
	</dict>
	<key>278</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_VCHANHELP</string>
		</array>
	</dict>
	<key>280</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_GLIST</string>
		</array>
	</dict>
	<key>281</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFGLIST</string>
			<string>RPL_ACCEPTLIST</string>
		</array>
	</dict>
	<key>282</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFACCEPT</string>
			<string>RPL_JUPELIST</string>
		</array>
	</dict>
	<key>283</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ALIST</string>
			<string>RPL_ENDOFJUPELIST</string>
		</array>
	</dict>
	<key>284</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFALIST</string>
			<string>RPL_FEATURE</string>
		</array>
	</dict>
	<key>285</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_GLIST_HASH</string>
			<string>RPL_CHANINFO_HANDLE</string>
			<string>RPL_NEWHOSTIS</string>
		</array>
	</dict>
	<key>286</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_CHANINFO_USERS</string>
			<string>RPL_CHKHEAD</string>
		</array>
	</dict>
	<key>287</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_CHANINFO_CHOPS</string>
			<string>RPL_CHANUSER</string>
		</array>
	</dict>
	<key>288</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_CHANINFO_VOICES</string>
			<string>RPL_PATCHHEAD</string>
		</array>
	</dict>
	<key>289</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_CHANINFO_AWAY</string>
			<string>RPL_PATCHCON</string>
		</array>
	</dict>
	<key>290</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_CHANINFO_OPERS</string>
			<string>RPL_HELPHDR</string>
			<string>RPL_DATASTR</string>
		</array>
	</dict>
	<key>291</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_CHANINFO_BANNED</string>
			<string>RPL_HELPOP</string>
			<string>RPL_ENDOFCHECK</string>
		</array>
	</dict>
	<key>292</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_CHANINFO_BANS</string>
			<string>RPL_HELPTLR</string>
		</array>
	</dict>
	<key>293</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_CHANINFO_INVITE</string>
			<string>RPL_HELPHLP</string>
		</array>
	</dict>
	<key>294</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_CHANINFO_INVITES</string>
			<string>RPL_HELPFWD</string>
		</array>
	</dict>
	<key>295</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_CHANINFO_KICK</string>
			<string>RPL_HELPIGN</string>
		</array>
	</dict>
	<key>296</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_CHANINFO_KICKS</string>
		</array>
	</dict>
	<key>299</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_END_CHANINFO</string>
		</array>
	</dict>
	<key>300</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_NONE</string>
		</array>
	</dict>
	<key>301</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_AWAY</string>
		</array>
	</dict>
	<key>302</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_USERHOST</string>
		</array>
	</dict>
	<key>303</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ISON</string>
		</array>
	</dict>
	<key>304</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TEXT</string>
		</array>
	</dict>
	<key>305</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_UNAWAY</string>
		</array>
	</dict>
	<key>306</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_NOWAWAY</string>
		</array>
	</dict>
	<key>307</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_USERIP</string>
			<string>RPL_WHOISREGNICK</string>
			<string>RPL_SUSERHOST</string>
		</array>
	</dict>
	<key>308</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_NOTIFYACTION</string>
			<string>RPL_WHOISADMIN</string>
			<string>RPL_RULESSTART</string>
		</array>
	</dict>
	<key>309</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_NICKTRACE</string>
			<string>RPL_WHOISSADMIN</string>
			<string>RPL_ENDOFRULES</string>
			<string>RPL_WHOISHELPER</string>
		</array>
	</dict>
	<key>310</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_WHOISSVCMSG</string>
			<string>RPL_WHOISHELPOP</string>
			<string>RPL_WHOISSERVICE</string>
		</array>
	</dict>
	<key>311</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_WHOISUSER</string>
		</array>
	</dict>
	<key>312</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_WHOISSERVER</string>
		</array>
	</dict>
	<key>313</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_WHOISOPERATOR</string>
		</array>
	</dict>
	<key>314</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_WHOWASUSER</string>
		</array>
	</dict>
	<key>315</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFWHO</string>
		</array>
	</dict>
	<key>316</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_WHOISCHANOP</string>
		</array>
	</dict>
	<key>317</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_WHOISIDLE</string>
		</array>
	</dict>
	<key>318</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFWHOIS</string>
		</array>
	</dict>
	<key>319</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_WHOISCHANNELS</string>
		</array>
	</dict>
	<key>320</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_WHOISVIRT</string>
			<string>RPL_WHOIS_HIDDEN</string>
			<string>RPL_WHOISSPECIAL</string>
		</array>
	</dict>
	<key>321</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_LISTSTART</string>
		</array>
	</dict>
	<key>322</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_LIST</string>
		</array>
	</dict>
	<key>323</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_LISTEND</string>
		</array>
	</dict>
	<key>324</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_CHANNELMODEIS</string>
		</array>
	</dict>
	<key>325</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_UNIQOPIS</string>
			<string>RPL_CHANNELPASSIS</string>
		</array>
	</dict>
	<key>326</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_NOCHANPASS</string>
		</array>
	</dict>
	<key>327</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_CHPASSUNKNOWN</string>
		</array>
	</dict>
	<key>328</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_CHANNEL_URL</string>
		</array>
	</dict>
	<key>329</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_CREATIONTIME</string>
		</array>
	</dict>
	<key>330</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_WHOWAS_TIME</string>
			<string>RPL_WHOISACCOUNT</string>
		</array>
	</dict>
	<key>331</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_NOTOPIC</string>
		</array>
	</dict>
	<key>332</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TOPIC</string>
		</array>
	</dict>
	<key>333</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TOPICWHOTIME</string>
		</array>
	</dict>
	<key>334</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_LISTUSAGE</string>
			<string>RPL_COMMANDSYNTAX</string>
			<string>RPL_LISTSYNTAX</string>
		</array>
	</dict>
	<key>335</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_WHOISBOT</string>
		</array>
	</dict>
	<key>338</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_CHANPASSOK</string>
			<string>RPL_WHOISACTUALLY</string>
		</array>
	</dict>
	<key>339</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_BADCHANPASS</string>
		</array>
	</dict>
	<key>340</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_USERIP</string>
		</array>
	</dict>
	<key>341</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_INVITING</string>
		</array>
	</dict>
	<key>342</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_SUMMONING</string>
		</array>
	</dict>
	<key>345</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_INVITED</string>
		</array>
	</dict>
	<key>346</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_INVITELIST</string>
		</array>
	</dict>
	<key>347</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFINVITELIST</string>
		</array>
	</dict>
	<key>348</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_EXCEPTLIST</string>
			<string>RPL_EXLIST</string>
		</array>
	</dict>
	<key>349</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFEXCEPTLIST</string>
			<string>RPL_ENDOFEXLIST </string>
		</array>
	</dict>
	<key>351</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_VERSION</string>
		</array>
	</dict>
	<key>352</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_WHOREPLY</string>
		</array>
	</dict>
	<key>353</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_NAMREPLY</string>
		</array>
	</dict>
	<key>354</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_WHOSPCRPL</string>
		</array>
	</dict>
	<key>355</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_NAMREPLY_</string>
		</array>
	</dict>
	<key>357</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_MAP</string>
		</array>
	</dict>
	<key>358</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_MAPMORE</string>
		</array>
	</dict>
	<key>359</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_MAPEND</string>
		</array>
	</dict>
	<key>361</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_KILLDONE</string>
		</array>
	</dict>
	<key>362</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_CLOSING</string>
		</array>
	</dict>
	<key>363</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_CLOSEEND</string>
		</array>
	</dict>
	<key>364</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_LINKS</string>
		</array>
	</dict>
	<key>365</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFLINKS</string>
		</array>
	</dict>
	<key>366</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFNAMES</string>
		</array>
	</dict>
	<key>367</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_BANLIST</string>
		</array>
	</dict>
	<key>368</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFBANLIST</string>
		</array>
	</dict>
	<key>369</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFWHOWAS</string>
		</array>
	</dict>
	<key>371</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_INFO</string>
		</array>
	</dict>
	<key>372</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_MOTD</string>
		</array>
	</dict>
	<key>373</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_INFOSTART</string>
		</array>
	</dict>
	<key>374</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFINFO</string>
		</array>
	</dict>
	<key>375</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_MOTDSTART</string>
		</array>
	</dict>
	<key>376</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFMOTD</string>
		</array>
	</dict>
	<key>377</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_KICKEXPIRED</string>
			<string>RPL_SPAM</string>
		</array>
	</dict>
	<key>378</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_BANEXPIRED</string>
			<string>RPL_WHOISHOST</string>
			<string>RPL_MOTD</string>
		</array>
	</dict>
	<key>379</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_KICKLINKED</string>
			<string>RPL_WHOISMODES</string>
		</array>
	</dict>
	<key>380</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_BANLINKED</string>
			<string>RPL_YOURHELPER</string>
		</array>
	</dict>
	<key>381</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_YOUREOPER</string>
		</array>
	</dict>
	<key>382</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_REHASHING</string>
		</array>
	</dict>
	<key>383</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_YOURESERVICE</string>
		</array>
	</dict>
	<key>384</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_MYPORTIS</string>
		</array>
	</dict>
	<key>385</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_NOTOPERANYMORE</string>
		</array>
	</dict>
	<key>386</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_QLIST</string>
			<string>RPL_IRCOPS</string>
		</array>
	</dict>
	<key>387</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFQLIST</string>
			<string>RPL_ENDOFIRCOPS</string>
		</array>
	</dict>
	<key>388</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ALIST</string>
		</array>
	</dict>
	<key>389</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFALIST</string>
		</array>
	</dict>
	<key>391</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TIME</string>
		</array>
	</dict>
	<key>392</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_USERSSTART</string>
		</array>
	</dict>
	<key>393</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_USERS</string>
		</array>
	</dict>
	<key>394</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFUSERS</string>
		</array>
	</dict>
	<key>395</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_NOUSERS</string>
		</array>
	</dict>
	<key>396</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_HOSTHIDDEN</string>
		</array>
	</dict>
	<key>400</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_UNKNOWNERROR</string>
		</array>
	</dict>
	<key>401</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOSUCHNICK</string>
		</array>
	</dict>
	<key>402</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOSUCHSERVER</string>
		</array>
	</dict>
	<key>403</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOSUCHCHANNEL</string>
		</array>
	</dict>
	<key>404</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_CANNOTSENDTOCHAN</string>
		</array>
	</dict>
	<key>405</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_TOOMANYCHANNELS</string>
		</array>
	</dict>
	<key>406</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_WASNOSUCHNICK</string>
		</array>
	</dict>
	<key>407</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_TOOMANYTARGETS</string>
		</array>
	</dict>
	<key>408</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOSUCHSERVICE</string>
			<string>ERR_NOCOLORSONCHAN</string>
		</array>
	</dict>
	<key>409</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOORIGIN</string>
		</array>
	</dict>
	<key>411</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NORECIPIENT</string>
		</array>
	</dict>
	<key>412</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOTEXTTOSEND</string>
		</array>
	</dict>
	<key>413</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOTOPLEVEL</string>
		</array>
	</dict>
	<key>414</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_WILDTOPLEVEL</string>
		</array>
	</dict>
	<key>415</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_BADMASK</string>
		</array>
	</dict>
	<key>416</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_TOOMANYMATCHES</string>
			<string>ERR_QUERYTOOLONG</string>
		</array>
	</dict>
	<key>419</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_LENGTHTRUNCATED</string>
		</array>
	</dict>
	<key>421</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_UNKNOWNCOMMAND</string>
		</array>
	</dict>
	<key>422</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOMOTD</string>
		</array>
	</dict>
	<key>423</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOADMININFO</string>
		</array>
	</dict>
	<key>424</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_FILEERROR</string>
		</array>
	</dict>
	<key>425</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOOPERMOTD</string>
		</array>
	</dict>
	<key>429</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_TOOMANYAWAY</string>
		</array>
	</dict>
	<key>430</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_EVENTNICKCHANGE</string>
		</array>
	</dict>
	<key>431</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NONICKNAMEGIVEN</string>
		</array>
	</dict>
	<key>432</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_ERRONEUSNICKNAME</string>
		</array>
	</dict>
	<key>433</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NICKNAMEINUSE</string>
		</array>
	</dict>
	<key>434</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_SERVICENAMEINUSE</string>
			<string>ERR_NORULES</string>
		</array>
	</dict>
	<key>435</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_SERVICECONFUSED</string>
			<string>ERR_BANONCHAN</string>
		</array>
	</dict>
	<key>436</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NICKCOLLISION</string>
		</array>
	</dict>
	<key>437</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_UNAVAILRESOURCE</string>
			<string>ERR_BANNICKCHANGE</string>
		</array>
	</dict>
	<key>438</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NICKTOOFAST</string>
			<string>ERR_NCHANGETOOFAST</string>
			<string>ERR_DEAD</string>
		</array>
	</dict>
	<key>439</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_TARGETTOOFAST</string>
			<string>RPL_INVTOOFAST</string>
			<string>RPL_MSGTOOFAST</string>
		</array>
	</dict>
	<key>440</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_SERVICESDOWN</string>
		</array>
	</dict>
	<key>441</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_USERNOTINCHANNEL</string>
		</array>
	</dict>
	<key>442</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOTONCHANNEL</string>
		</array>
	</dict>
	<key>443</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_USERONCHANNEL</string>
		</array>
	</dict>
	<key>444</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOLOGIN</string>
		</array>
	</dict>
	<key>445</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_SUMMONDISABLED</string>
		</array>
	</dict>
	<key>446</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_USERSDISABLED</string>
		</array>
	</dict>
	<key>447</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NONICKCHANGE</string>
		</array>
	</dict>
	<key>449</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOTIMPLEMENTED</string>
		</array>
	</dict>
	<key>451</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOTREGISTERED</string>
		</array>
	</dict>
	<key>452</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_IDCOLLISION</string>
		</array>
	</dict>
	<key>453</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NICKLOST</string>
		</array>
	</dict>
	<key>455</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_HOSTILENAME</string>
		</array>
	</dict>
	<key>456</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_ACCEPTFULL</string>
		</array>
	</dict>
	<key>457</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_ACCEPTEXIST</string>
		</array>
	</dict>
	<key>458</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_ACCEPTNOT</string>
		</array>
	</dict>
	<key>459</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOHIDING</string>
		</array>
	</dict>
	<key>460</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOTFORHALFOPS</string>
		</array>
	</dict>
	<key>461</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NEEDMOREPARAMS</string>
		</array>
	</dict>
	<key>462</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_ALREADYREGISTERED</string>
		</array>
	</dict>
	<key>463</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOPERMFORHOST</string>
		</array>
	</dict>
	<key>464</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_PASSWDMISMATCH</string>
		</array>
	</dict>
	<key>465</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_YOUREBANNEDCREEP</string>
		</array>
	</dict>
	<key>466</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_YOUWILLBEBANNED</string>
		</array>
	</dict>
	<key>467</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_KEYSET</string>
		</array>
	</dict>
	<key>468</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_INVALIDUSERNAME</string>
			<string>ERR_ONLYSERVERSCANCHANGE</string>
		</array>
	</dict>
	<key>469</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_LINKSET</string>
		</array>
	</dict>
	<key>470</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_LINKCHANNEL</string>
			<string>ERR_KICKEDFROMCHAN</string>
		</array>
	</dict>
	<key>471</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_CHANNELISFULL</string>
		</array>
	</dict>
	<key>472</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_UNKNOWNMODE</string>
		</array>
	</dict>
	<key>473</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_INVITEONLYCHAN</string>
		</array>
	</dict>
	<key>474</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_BANNEDFROMCHAN</string>
		</array>
	</dict>
	<key>475</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_BADCHANNELKEY</string>
		</array>
	</dict>
	<key>476</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_BADCHANMASK</string>
		</array>
	</dict>
	<key>477</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOCHANMODES</string>
			<string>ERR_MODELESS</string>
			<string>ERR_NEEDREGGEDNICK</string>
		</array>
	</dict>
	<key>478</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_BANLISTFULL</string>
		</array>
	</dict>
	<key>479</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_BADCHANNAME</string>
			<string>ERR_LINKFAIL</string>
		</array>
	</dict>
	<key>480</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOULINE</string>
			<string>ERR_CANNOTKNOCK</string>
		</array>
	</dict>
	<key>481</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOPRIVILEGES</string>
		</array>
	</dict>
	<key>482</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_CHANOPRIVSNEEDED</string>
		</array>
	</dict>
	<key>483</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_CANTKILLSERVER</string>
		</array>
	</dict>
	<key>484</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_RESTRICTED</string>
			<string>ERR_ISCHANSERVICE</string>
			<string>ERR_DESYNC</string>
			<string>ERR_ATTACKDENY</string>
		</array>
	</dict>
	<key>485</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_UNIQOPRIVSNEEDED</string>
			<string>ERR_KILLDENY</string>
			<string>ERR_CANTKICKADMIN</string>
			<string>ERR_ISREALSERVICE</string>
		</array>
	</dict>
	<key>486</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NONONREG</string>
			<string>ERR_HTMDISABLED</string>
			<string>ERR_ACCOUNTONLY</string>
		</array>
	</dict>
	<key>487</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_CHANTOORECENT</string>
			<string>ERR_MSGSERVICES</string>
		</array>
	</dict>
	<key>488</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_TSLESSCHAN</string>
		</array>
	</dict>
	<key>489</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_VOICENEEDED</string>
			<string>ERR_SECUREONLYCHAN</string>
		</array>
	</dict>
	<key>491</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOOPERHOST</string>
		</array>
	</dict>
	<key>492</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOSERVICEHOST</string>
		</array>
	</dict>
	<key>493</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOFEATURE</string>
		</array>
	</dict>
	<key>494</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_BADFEATURE</string>
		</array>
	</dict>
	<key>495</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_BADLOGTYPE</string>
		</array>
	</dict>
	<key>496</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_BADLOGSYS</string>
		</array>
	</dict>
	<key>497</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_BADLOGVALUE</string>
		</array>
	</dict>
	<key>498</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_ISOPERLCHAN</string>
		</array>
	</dict>
	<key>499</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_CHANOWNPRIVNEEDED</string>
		</array>
	</dict>
	<key>501</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_UMODEUNKNOWNFLAG</string>
		</array>
	</dict>
	<key>502</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_USERSDONTMATCH</string>
		</array>
	</dict>
	<key>503</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_GHOSTEDCLIENT</string>
			<string>ERR_VWORLDWARN</string>
		</array>
	</dict>
	<key>504</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_USERNOTONSERV</string>
		</array>
	</dict>
	<key>511</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_SILELISTFULL</string>
		</array>
	</dict>
	<key>512</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_TOOMANYWATCH</string>
			<string>ERR_NOTIFYFULL</string>
		</array>
	</dict>
	<key>513</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_BADPING</string>
			<string>ERR_NEEDPONG</string>
		</array>
	</dict>
	<key>514</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_INVALID_ERROR</string>
			<string>ERR_TOOMANYDCC</string>
		</array>
	</dict>
	<key>515</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_BADEXPIRE</string>
		</array>
	</dict>
	<key>516</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_DONTCHEAT</string>
		</array>
	</dict>
	<key>517</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_DISABLED</string>
		</array>
	</dict>
	<key>518</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOINVITE</string>
			<string>ERR_LONGMASK</string>
		</array>
	</dict>
	<key>519</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_ADMONLY</string>
			<string>ERR_TOOMANYUSERS</string>
		</array>
	</dict>
	<key>520</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_OPERONLY</string>
			<string>ERR_MASKTOOWIDE</string>
			<string>ERR_WHOTRUNC</string>
		</array>
	</dict>
	<key>521</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_LISTSYNTAX</string>
		</array>
	</dict>
	<key>522</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_WHOSYNTAX</string>
		</array>
	</dict>
	<key>523</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_WHOLIMEXCEED</string>
		</array>
	</dict>
	<key>524</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_QUARANTINED</string>
			<string>ERR_OPERSPVERIFY</string>
		</array>
	</dict>
	<key>525</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_REMOTEPFX</string>
		</array>
	</dict>
	<key>526</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_PFXUNROUTABLE</string>
		</array>
	</dict>
	<key>550</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_BADHOSTMASK</string>
		</array>
	</dict>
	<key>551</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_HOSTUNAVAIL</string>
		</array>
	</dict>
	<key>552</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_USINGSLINE</string>
		</array>
	</dict>
	<key>553</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_STATSSLINE</string>
		</array>
	</dict>
	<key>600</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_LOGON</string>
		</array>
	</dict>
	<key>601</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_LOGOFF</string>
		</array>
	</dict>
	<key>602</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_WATCHOFF</string>
		</array>
	</dict>
	<key>603</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_WATCHSTAT</string>
		</array>
	</dict>
	<key>604</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_NOWON</string>
		</array>
	</dict>
	<key>605</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_NOWOFF</string>
		</array>
	</dict>
	<key>606</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_WATCHLIST</string>
		</array>
	</dict>
	<key>607</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFWATCHLIST</string>
		</array>
	</dict>
	<key>608</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_WATCHCLEAR</string>
		</array>
	</dict>
	<key>610</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_MAPMORE</string>
			<string>RPL_ISOPER</string>
		</array>
	</dict>
	<key>611</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ISLOCOP</string>
		</array>
	</dict>
	<key>612</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ISNOTOPER</string>
		</array>
	</dict>
	<key>613</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFISOPER</string>
		</array>
	</dict>
	<key>615</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_MAPMORE</string>
			<string>RPL_WHOISMODES</string>
		</array>
	</dict>
	<key>616</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_WHOISHOST</string>
		</array>
	</dict>
	<key>617</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_DCCSTATUS</string>
			<string>RPL_WHOISBOT</string>
		</array>
	</dict>
	<key>618</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_DCCLIST</string>
		</array>
	</dict>
	<key>619</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFDCCLIST</string>
			<string>RPL_WHOWASHOST</string>
		</array>
	</dict>
	<key>620</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_DCCINFO</string>
			<string>RPL_RULESSTART</string>
		</array>
	</dict>
	<key>621</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_RULES</string>
		</array>
	</dict>
	<key>622</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFRULES</string>
		</array>
	</dict>
	<key>623</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_MAPMORE</string>
		</array>
	</dict>
	<key>624</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_OMOTDSTART</string>
		</array>
	</dict>
	<key>625</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_OMOTD</string>
		</array>
	</dict>
	<key>626</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFO</string>
		</array>
	</dict>
	<key>630</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_SETTINGS</string>
		</array>
	</dict>
	<key>631</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFSETTINGS</string>
		</array>
	</dict>
	<key>640</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_DUMPING</string>
		</array>
	</dict>
	<key>641</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_DUMPRPL</string>
		</array>
	</dict>
	<key>642</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_EODUMP</string>
		</array>
	</dict>
	<key>660</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TRACEROUTE_HOP</string>
		</array>
	</dict>
	<key>661</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TRACEROUTE_START</string>
		</array>
	</dict>
	<key>662</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_MODECHANGEWARN</string>
		</array>
	</dict>
	<key>663</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_CHANREDIR</string>
		</array>
	</dict>
	<key>664</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_SERVMODEIS</string>
		</array>
	</dict>
	<key>665</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_OTHERUMODEIS</string>
		</array>
	</dict>
	<key>666</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOF_GENERIC</string>
		</array>
	</dict>
	<key>670</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_WHOWASDETAILS</string>
		</array>
	</dict>
	<key>671</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_WHOISSECURE</string>
		</array>
	</dict>
	<key>672</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_UNKNOWNMODES</string>
		</array>
	</dict>
	<key>673</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_CANNOTSETMODES</string>
		</array>
	</dict>
	<key>678</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_LUSERSTAFF</string>
		</array>
	</dict>
	<key>679</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TIMEONSERVERIS</string>
		</array>
	</dict>
	<key>682</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_NETWORKS</string>
		</array>
	</dict>
	<key>687</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_YOURLANGUAGEIS</string>
		</array>
	</dict>
	<key>688</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_LANGUAGE</string>
		</array>
	</dict>
	<key>689</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_WHOISSTAFF</string>
		</array>
	</dict>
	<key>690</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_WHOISLANGUAGE</string>
		</array>
	</dict>
	<key>702</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_MODLIST</string>
		</array>
	</dict>
	<key>703</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFMODLIST</string>
		</array>
	</dict>
	<key>704</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_HELPSTART</string>
		</array>
	</dict>
	<key>705</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_HELPTXT</string>
		</array>
	</dict>
	<key>706</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFHELP</string>
		</array>
	</dict>
	<key>708</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ETRACEFULL</string>
		</array>
	</dict>
	<key>709</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ETRACE</string>
		</array>
	</dict>
	<key>710</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_KNOCK</string>
		</array>
	</dict>
	<key>711</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_KNOCKDLVR</string>
		</array>
	</dict>
	<key>712</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_TOOMANYKNOCK</string>
		</array>
	</dict>
	<key>713</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_CHANOPEN</string>
		</array>
	</dict>
	<key>714</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_KNOCKONCHAN</string>
		</array>
	</dict>
	<key>715</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_KNOCKDISABLED</string>
		</array>
	</dict>
	<key>716</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TARGUMODEG</string>
		</array>
	</dict>
	<key>717</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TARGNOTIFY</string>
		</array>
	</dict>
	<key>718</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_UMODEGMSG</string>
		</array>
	</dict>
	<key>720</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_OMOTDSTART</string>
		</array>
	</dict>
	<key>721</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_OMOTD</string>
		</array>
	</dict>
	<key>722</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_ENDOFOMOTD</string>
		</array>
	</dict>
	<key>723</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOPRIVS</string>
		</array>
	</dict>
	<key>724</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TESTMARK</string>
		</array>
	</dict>
	<key>725</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_TESTLINE</string>
		</array>
	</dict>
	<key>726</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_NOTESTLINE</string>
		</array>
	</dict>
	<key>771</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_XINFO</string>
		</array>
	</dict>
	<key>773</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_XINFOSTART</string>
		</array>
	</dict>
	<key>774</key>
	<dict>
		<key>names</key>
		<array>
			<string>RPL_XINFOEND</string>
		</array>
	</dict>
	<key>972</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_CANNOTDOCOMMAND</string>
		</array>
	</dict>
	<key>973</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_CANNOTCHANGEUMODE</string>
		</array>
	</dict>
	<key>974</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_CANNOTCHANGECHANMODE</string>
		</array>
	</dict>
	<key>975</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_CANNOTCHANGESERVERMODE</string>
		</array>
	</dict>
	<key>976</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_CANNOTSENDTONICK</string>
		</array>
	</dict>
	<key>977</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_UNKNOWNSERVERMODE</string>
		</array>
	</dict>
	<key>979</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_SERVERMODELOCK</string>
		</array>
	</dict>
	<key>980</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_BADCHARENCODING</string>
		</array>
	</dict>
	<key>981</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_TOOMANYLANGUAGES</string>
		</array>
	</dict>
	<key>982</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NOLANGUAGE</string>
		</array>
	</dict>
	<key>983</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_TEXTTOOSHORT</string>
		</array>
	</dict>
	<key>999</key>
	<dict>
		<key>names</key>
		<array>
			<string>ERR_NUMERIC_ERR</string>
			<string>ERR_NUMERICERR</string>
		</array>
	</dict>
	<key>source</key>
	<string>https://www.alien.net.au/irc/irc2numerics.html</string>
</dict>
</plist>
